<!--Extended Table starts-->
<div class="row">
    <div class="col-12">
        <div class="content-header"></div>
        <p class="content-sub-header"></p>
    </div>
</div>
<section id="extended">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Liste des Matières</h4>
                </div>
                <div class="mb-3">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <a routerLink="/matiere" class=" ft-plus btn btn-raised gradient-crystal-clear white shadow-big-navbar " >Ajouter une Matière </a>
    
                    </div>
                <div class="card-body">
                    <div class="card-block">
                        <table class="table table-responsive-md text-center">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th></th>
                                    <th>Nom</th>
                                    <th>Coefficient</th>
                                    <th>Unité</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr  *ngFor="let matiere of matieres ; let i=index" >
                                    <td>{{matiere.id}}</td>
                                    <td>
                                        <div class="custom-control custom-checkbox m-0" >
                                            <input type="checkbox" class="custom-control-input" id="{{i}}" (click)="switch(matiere.id)" >
                                            <label class="custom-control-label" for="{{i}}"></label>
                                        </div>
                                    </td>
                                    <td>{{matiere.nom}}</td>
                                    <td>{{matiere.coefficient}}</td>
                                    <td>{{matiere.unite.nom_module}}</td>
                        
                                 
                                    <td>
                                      
                                        
                                        <a class="success p-0" data-original-title="" title="" >
                                            <i class="ft-edit-2 font-medium-3"></i>
                                            
                                        </a>
                                        <a class="danger p-0" data-original-title="" title="" (click)="delete()">
                                            <i class="ft-x font-medium-3"></i>
                                        </a>
                                    </td> 
                                </tr>
                                <tr>
                      
                            
                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Extended Table Ends-->
