<div class="row match-height">
  <div class="col-md-12">
      <div class="card">
          <div class="card-header">
            <h4 class="card-title" id="basic-layout-form-center">Ajouter un nouveau Niveau</h4>
            
          </div>
          <div class="card-body">
              <div class="px-3">

                  <form class="form">
                      <div class="row justify-content-md-center">
                          <div class="col-md-6">
                              <div class="form-body">
                     
                                  <div class="form-group" class="form-group col-12 mb-2">
                                      <label for="eventInput2">Libelle</label>
                                      <input type="text" id="libelle" class="form-control"  name="libelle" required   [(ngModel)]="niveau.libelle">
                                  </div>

                                    
                                  <div class="form-group" class="form-group col-12 mb-2">
                                    <label for="eventInput2">Description</label>
                                    <input type="text" id="description" class="form-control"  name="description" required   [(ngModel)]="niveau.description">
                                </div>

                                  
                                         
                                  <div class="form-group" class="form-group col-12 mb-2">
                                    <label for="eventInput2">Spécialite</label>
                                    <input type="text" id="specialite" class="form-control"  name="specialite" required   [(ngModel)]="niveau.specialite">
                                </div>

            

              

                              </div>
                          </div>
                      </div>

                      <div class="form-actions center">
                          <button type="reset" class="btn btn-raised btn-warning mr-1">
                              <i class="ft-x"></i> Annuler
                          </button>
                          <button type="button" class="btn btn-raised btn-primary" (click)="addniveau()"  routerLink="/niveaux">
                              <i class="fa fa-check-square-o"></i> Enregistrer
                          </button>
                      </div>
                  </form>	

              </div>
          </div>
      </div>
  </div>
</div>
