
<!-- Minimal statistics with bg color section start -->
<section id="minimal-statistics-bg">
	<div class="row">
		<div class="col-12 mt-3 mb-1">
			<div class="content-header"> Page d'accueil</div>
			<p class="content-sub-header"></p>
		</div>
	</div>

	<div class="row" matchHeight="card">
		<div class="col-xl-3 col-lg-6 col-12">
			<div class="card bg-warning">
				<div class="card-body">
					<div class="px-3 py-3">
						<div class="media">
							<div class="media-body white text-left"  *ngFor="let etudiant of etudiants ; let i=index">
								<h3>{{i+1}}</h3>
								<span>Etudiants</span><br>
								<span>total d'etudiants</span>
							</div>
							<div class="media-right align-self-center">
								<i class="icon-users white font-large-2 float-right"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-6 col-12">
			<div class="card bg-success">
				<div class="card-body">
					<div class="px-3 py-3">
						<div class="media">
							<div class="media-body white text-left">
								<h3></h3>
								<span>Enseignants</span>
							</div>
							<div class="media-right align-self-center">
								<i class="icon-user white font-large-2 float-right"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xl-3 col-lg-6 col-12">
			<div class="card bg-danger">
				<div class="card-body">
					<div class="px-3 py-3">
						<div class="media">
							<div class="media-body white text-left">
								<h3></h3>
								<span>Classes</span>
							</div>
							<div class="media-right align-self-center">
								<i class="icon-pie-chart white font-large-2 float-right"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-6 col-12">
			<div class="card bg-primary">
				<div class="card-body">
					<div class="px-3 py-3">
						<div class="media">
							<div class="media-body white text-left">
								<h3></h3>
								<span>Niveaux</span>
							</div>
							<div class="media-right align-self-center">
								<i class="icon-support white font-large-2 float-right"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row" matchHeight="card">
		<div class="col-xl-3 col-lg-6 col-12">
			<div class="card bg-primary">
				<div class="card-body">
					<div class="px-3 py-3">
						<div class="media">
							<div class="media-left align-self-center">
								<i class="icon-pencil white font-large-2 float-left"></i>
							</div>
							<div class="media-body white text-right">
								<h3></h3>
								<span>Matiéres</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-6 col-12">
			<div class="card bg-danger">
				<div class="card-body">
					<div class="px-3 py-3">
						<div class="media">
							<div class="media-left align-self-center">
								<i class="icon-speech white font-large-2 float-left"></i>
							</div>
							<div class="media-body white text-right">
								<h3></h3>
								<span>Actualités</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-6 col-12">
			<div class="card bg-success">
				<div class="card-body">
					<div class="px-3 py-3">
						<div class="media">
							<div class="media-left align-self-center">
								<i class="icon-graph white font-large-2 float-left"></i>
							</div>
							<div class="media-body white text-right">
								<h3></h3>
								<span>Note d'information</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-6 col-12">
			<div class="card bg-warning">
				<div class="card-body">
					<div class="px-3 py-3">
						<div class="media">
							<div class="media-left align-self-center">
								<i class="icon-pointer white font-large-2 float-left"></i>
							</div>
							<div class="media-body white text-right">
								<h3></h3>
								<span>Salles</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- // Minimal statistics with bg color section end -->
