
<div class="row justify-content-md-center">
    <div class="col-md-20">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title" id="bordered-layout-card-center">Ajout d'un etudiant </h4>	              
            </div>
            <div class="card-body">
                <div class="px-3">

                    <form class="form form-horizontal form-bordered">
                        <div class="form-body">
                            <div class="form-group row">
                                <label class="col-md-3 label-control" for="eventRegInput1">Email</label>
                                <div class="col-md-9">
                                    <input type="email" id="email" class="form-control" placeholder="email" name="email"  required   [(ngModel)]="etudiant.email">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-3 label-control" for="eventRegInput2">Nom</label>
                                <div class="col-md-9">
                                    <input type="text" id="firstName" class="form-control" placeholder="nom" name="firstName" required   [(ngModel)]="etudiant.firstName">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-3 label-control" for="eventRegInput3">prénom</label>
                                <div class="col-md-9">
                                    <input type="text" id="lastName" class="form-control" placeholder="prenom" name="lastName" required   [(ngModel)]="etudiant.lastName">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-3 label-control" for="eventRegInput4">Cin</label>
                                <div class="col-md-9">
                                    <input type="number" id="cin" class="form-control" placeholder="cin" name="cin" required   [(ngModel)]="etudiant.cin">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-3 label-control" for="eventRegInput5">Date de naissance</label>
                                <div class="col-md-9">
                                    <input type="date" id="date_naissance" class="form-control" name="date_naissance" placeholder="date de naissance" required   [(ngModel)]="etudiant.date_naissance">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 label-control" for="eventRegInput6">Nom d'utilisateur</label>
                                <div class="col-md-9">
                                    <input type="text" id="username" class="form-control" name="username" placeholder="nom utilisateur" required=""  [(ngModel)]="etudiant.username">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 label-control" for="eventRegInput7">Mot de passe </label>
                                <div class="col-md-9">
                                    <input type="password" id="password" class="form-control" name="password" placeholder="mot de passe" required=""  [(ngModel)]="etudiant.password">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 label-control" for="eventRegInput7">Classe </label>
                                <div class="col-md-9">
                                <select id="classe" name="id_classe" [(ngModel)]="etudiant.classe" class="form-control" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Priority">
                                    <option></option>      
                                    <option *ngFor="let classe of classes" [value]="classe.id">
                                        {{classe.nom}}
                                    </option>
                                
                                </select>
                                </div>
                            </div>
                            <div class="form-group">
                                    <label>Photo :</label>
                
                                    <input type="file" (change)="fileChangeEvent($event)" placeholder="Upload file..." />
                
                                  </div>
                
               

                        </div>

                        <div class="form-group text-center">
                                           
                            <button type="submit" (click)="onsubmit()" class="btn btn-warning btn-raised"  routerLink="/etudiant" >Enregistrer</button>
                        
                           <button type="reset" class="btn btn-secondary btn-raised" (click)="activeModal.close('Close click')">Annuler</button>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>